html {
    font-family: monospace;
    background: rgba(0, 0, 0, 0.856);
    padding: 1rem;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: monospace;
    margin: 3rem 0;
    text-align: center;
    font-size: 25px;
    background-color: rgb(138, 65, 65);
}

li {
    color:rgb(255, 253, 253);
    font-family: monospace;
    margin: 1rem 0;
    text-align: center;
    font-size: 12px;
}

p {
    color:rgb(255, 253, 253);
    font-family: monospace;
    margin: 1rem 0;
    text-align: center;
    font-size: 15px;
}

label {
    color:rgb(253, 253, 253);
    font-family: monospace;
    margin: 1rem 0;
    text-align: center;
    font-size: 15px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
}

form {
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: rgb(138, 65, 65);
    padding: 1.5 0.5rem;
    border-radius: 20px;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 1rem;
}

.content {
    padding: 0 1rem 1rem;
    background: rgb(78, 77, 77);
    border-radius: 20px;
}

.flash {
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background: #f6e4ca;
    border: 1px solid #a83737;
}