{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}

    <form method="post">
        <label for="message">Your message:</label>
        <input type="text" name="message" id="message">
	    <label for="name">Your name or handle:</label>
	    <input type="text" name="name" id="name">
	    <input type="submit" value="Submit Message" id=button>
    </form>

  {% if thanks %}
    Thanks for submitting a message!
  {% endif %}

{% endblock %}